<% include partials/header %>

<h1>Sign Up!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign Up</button>  <!--html tip: as long as the button is at the end of the form it will submit the form-->
</form>

<% include partials/footer %>